 /*Style Sheet for tank mayhem website */

body {
    /*font-size: 100%;*/
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    margin: 0px;
    background-color: white;
}

h1, footer {
    text-align: center;
}

/*width and height of canvases are exactly 0.5 the size of the real canvas to account for retina display*/

canvas {
    position: absolute;
    width: 600px;
    height: 480px;
}

#game-area {
    /*margin: 0 auto;*/
    /*display: inline-block;*/
    position: relative;
    width: 600px;
    height: 480px;
    margin: 4rem auto 0 auto;
    border: 2px dashed black;
}

/*#background {
    z-index: -1;
}

#canvas {
    z-index: 0;
}

#foreground {
    z-index: 1;
}*/

#copy-notice {
    font-family: "La Belle Aurore", cursive;
    font-size: 1.3rem;
    font-weight: 500;
}

#hp-p1, #hp-p2 {
    visibility: hidden;
}

#hp-p1 {
    text-align: right;
    color: red
}

#hp-p2 {
    text-align: left;
    color: blue
}

footer {
    font-size: 0.8rem;
    text-align: center;
}


a {
    color: black;
    text-decoration: none;
    border-bottom: 1px dotted;
    display: inline-block;
    line-height: 9px;
    list-style-type: none;
}

a:hover {
    /*text-decoration: underline;*/
    border-bottom: 1px solid;
}

/*a:active {
    text-decoration: underline;
}*/

.menu-bar-container {
    height: 3.5rem;
    z-index: 10;
    margin: 0 auto;
    padding: 0.2rem 30px;
    background: rgba(28, 149, 158, 0.81);
}

.menu-bar {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
    max-width: 740px;
    min-width: 544px;
}

#logo {
    height: 60%;
}

.menu-item ul li{
    list-style: none;
    /*padding: 0.2rem;*/
}

.menu-item {
    padding: 0.2rem;
    margin: 0;
    text-align: center;
}

.menu-item:hover {
    background-color: darkslateblue;
    color: white;
    border-top-color: white;
    border-radius: 0.3rem;
}

.menu-item * {
    margin: 0;
}

.menu-item li > ul {
    /*display: none;*/
}


/*TODO: increases page length*/
#space {
    height: 20rem;
}

.caret {
border-left: 0.25rem solid transparent;
border-right: 0.25rem solid transparent;
border-top: 0.25rem solid #4DC5EA;
/*color: #FFFFFF;*/
content: "";
display: inline-block;
font-size: 1.5rem;
height: 0;
width: 0;
margin: 0 0.2rem;
}
